@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100%;
  padding: 2rem;
}

.menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: background-color .2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}

.quote-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 25px;
  z-index: 1000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 750px;
  width: 90%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.quote-text {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.quote-author {
  font-size: 18px;
  font-style: italic;
  color: #666;
  margin-bottom: 20px;
}

.quote-close-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quote-close-button:hover {
  background-color: #0056b3;
}

.modal {
  width: 300px;
  height: 130px;
  background-color: cadetblue;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
}

.modal__button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal__button:hover {
  cursor: pointer;
  background-color: orangered;
}

.modal.center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.moving-image {
  width: 200px;
  height: auto;
}